.jumbotron {
    background-color: #253251;
    color: white;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.container {
    padding: 20px;
}

.form-control {
    padding: 10px;
}

.button {
    
}